 header{
     color: white;
     position: relative;
     margin-bottom: 20px;
     margin-left: 42%;
     font-size: 25px;
/* position: center;  */
}
 body{
     background: black;
     /* text-decoration-color: white; */
 }
 ul {
     /* padding: 20px; */
/* background: gray; */
/* border: 2px solid black; */
display: grid;
grid-template-columns: 32% 32% 32%;
column-gap: 10px;
row-gap: 10px;

}

li {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "image title"
    
    "image main";
    /* flex-direction: row; */
    border: 2px solid black;
    background: white;
}

.image{
    grid-area: image;
    justify-content: center;
}
.title{
    display: grid;
    grid-area: title;
    align-items: center;

    justify-content: center;
}
.main{
    grid-area: main;
}


